In [9]:
import os
import pandas as pd
import io

Billgen

In [3]:
f = open('datalake/layer=bronze/table=billgen/year=2018/ams__billgen_2018__202001290000.csv', 'r')
text = ''.join(f.readlines(1256))
csv_string_io = io.StringIO(text)
df = pandas.read_csv(csv_string_io)
df

,identifier,master_bol_number,house_bol_number,sub_house_bol_number,voyage_number,bill_type_code,manifest_number,trade_update_date,run_date
0,201801010,EGLV003700239655,DFDSTPE0115294,NaN,077E,House Bill,1,2017-01-24,2018-01-01
1,201801011,EGLV003700236923,DFDSTPE0115307,NaN,077E,House Bill,1,2017-01-24,2018-01-01
2,201801012,EGLV003700239655,DFDSSTPE0116215,NaN,077E,House Bill,1,2017-01-24,2018-01-01
3,201801013,EGLV003700240025,DFDSTPE0113481,NaN,077E,House Bill,1,2017-01-25,2018-01-01
4,201801014,EGLV003700244063,DFDSTPE0115302,NaN,077E,House Bill,1,2017-01-25,2018-01-01
5,201801015,EGLV003700236893,DFDSTPE0113614,NaN,077E,House Bill,1,2017-01-25,2018-01-01
6,201801016,EGLV003700236915,DFDSTPE0114135,NaN,077E,House Bill,1,2017-01-25,2018-01-01
7,201801017,EGLV003700236818,DFDSTPE0112529,NaN,077E,House Bill,1,2017-01-25,2018-01-01
8,201801018,EGLV003700236893,DFDSTPE0113812,NaN,077E,House Bill,1,2017-01-25,2018-01-01
9,201801019,EGLV003700239345,DFDSTPE0116319,NaN,077E,House Bill,1,2017-01-25,2018-01-01
10,2018010110,EGLV003700236923,DFDSTPE0115735,NaN,077E,House Bill,1,2017-01-25,2018-01-01
11,2018010111,EGLV003700236788,DFDSTPE0115514,NaN,077E,House Bill,1,2017-01-25,2018-01-01
12,2018010112,EGLV003700239345,DFDSTPE0115305,NaN,077E,House Bill,1,2017-01-25,2018-01-01
13,2018010113,EGLV003700236923,DFDSTPE0115738,NaN,077E,House Bill,1,2017-01-25,2018-01-01

Cargo desc

In [21]:
f = open('datalake/layer=bronze/table=cargodesc/year=2018/ams__cargodesc_2018__202001290000.csv', 'r')
text = ''.join(f.readlines(10256))
csv_string_io = io.StringIO(text)
df = pandas.read_csv(csv_string_io)
df

,identifier,container_number,description_sequence_number,piece_count,description_text
0,201801010,FCIU9250931,1,21.0,RUBBER NUT-INSERT 1 PLT S.T.C. 21 CTNS .
1,201801011,EITU1595313,1,3.0,CAST IRON PARTS
2,201801012,FCIU9250931,1,59.0,INVOICE NO TS17010195-1MIEMH STEEL CARRIAGE . .
3,201801013,BMOU5389685,1,168.0,4 PLTS S.T.C. 168 CTNS COMPONENTS FOR AUTOMOT .
4,201801014,EMCU5289450,1,9.0,PLATE 1 PLT S.T.C. 9 CTNS .
...,...,...,...,...,...
89,2018010161,ECMU2022984,1,8.0,POLISHED GRANITE & MARBLE SLABS
90,2018010162,TCLU3954546,1,25.0,SLATE STONE
91,2018010163,TRHU3579554,1,28.0,SLATE STONE
92,2018010164,TRHU2677324,1,8.0,08 PACKAGES POLISHED GRANITE SLABS INV NO -SSG...
93,2018010164,TRHU2677324,1,NaN,"; NAME, ADDRESS AND TELEPHONE NUMBER OF LOCAL ..."

Consignee

In [22]:
f = open('datalake/layer=bronze/table=consignee/year=2018/ams__consignee_2018__202001290000.csv', 'r')
text = ''.join(f.readlines(10256))
csv_string_io = io.StringIO(text)
df = pandas.read_csv(csv_string_io)
df

,identifier,consignee_name,consignee_address_1,consignee_address_2,consignee_address_3,consignee_address_4,city,state_province,zip_code,country_code,contact_name,comm_number_qualifier,comm_number
0,201801010,EMHART TEKNOLOGIES LLC,395 ROBERTS ROAD,CAMPBELLSVILLE KY 42718,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,201801011,FRANKLIN ELECTRIC,1301 W.STOVALL ROAD,WILBURTON OK 74578,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,201801012,EMHART TEKNOLOGIES LLC,395 ROBERTS ROAD,CAMPBELLSVILLE KY 42718,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,201801013,JOSEPH POLLAK CORPORATION,300 DAN ROAD,CANTON MA 02021,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,201801014,DETECTOR ELECTORINCS CORP.,10901 LOUISIANA AVE,MINNEAPOLIS MN 55438,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,20180101102,PARKER HANNIFIN CORPORATION,580 SIGMAN ROAD,CONYERS GA 30013 US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,20180101103,"FORTRESS DECK PRODUCTS, LLC",DBA FORTRESS DECK PRODUCTS,1720 N. FIRST STREET,GARLAND TX 75040 US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,20180101104,"FORTRESS DECK PRODUCTS, LLC",DBA FORTRESS DECK PRODUCTS,1720 N. FIRST STREET,GARLAND TX 75040 US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,20180101105,MAKITA USA INC,14930 NORTHAM ST,LA MIRADA CA 90638 US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,20180101106,DB SCHENKER,KONE FACILITY: SOUTH DC,"3737 GRADER ST, STE 110",GARLAND TX 75041-6180 US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Container

In [16]:
f = open('datalake/layer=bronze/table=container/year=2018/ams__container_2018__202001290000.csv', 'r')
text = ''.join(f.readlines(1000256))
csv_string_io = io.StringIO(text)
df = pandas.read_csv(csv_string_io)
df.load_status.unique()

,identifier,container_number,seal_number_1,seal_number_2,equipment_description_code,container_length,container_height,container_width,container_type,load_status,type_of_service
0,201801010,FCIU9250931,EMCCES9186,NaN,Container,4000,906,800,NaN,Loaded,Container Station
1,201801011,EITU1595313,EMCCES9076,NaN,Container,4000,906,802,4EB0,Loaded,Container Yard
2,201801012,FCIU9250931,EMCCES9186,NaN,Container,4000,906,800,NaN,Loaded,Container Station
3,201801013,BMOU5389685,EMCCES8776,NaN,Container,0,0,0,NaN,Loaded,NaN
4,201801014,EMCU5289450,EMCCES8446,NaN,Container,4000,900,800,45R1,Loaded,Container Yard
...,...,...,...,...,...,...,...,...,...,...,...
11616,201801017510,ZCSU8833317,ZGL041999C,NaN,Openings at one end or both ends.,4000,900,800,4500,Loaded,Pier to Pier
11617,201801017510,ZCSU8959603,ZGL041957C,NaN,Openings at one end or both ends.,4000,900,800,4500,Loaded,Pier to Pier
11618,201801017510,DFSU6603319,ZGL041864C,NaN,Openings at one end or both ends.,4000,900,800,4500,Loaded,Pier to Pier
11619,201801017511,GESU6403100,1917973,NaN,Container,4000,900,800,4510,Loaded,House to House
11620,201801017512,AXIU1655210,ZGLP080168,NaN,Closed Container,0,0,0,NaN,Loaded,Pier to Pier

Hazmat

In [27]:
f = open('datalake/layer=bronze/table=hazmat/year=2018/ams__hazmat_2018__202001290000.csv', 'r')
text = ''.join(f.readlines(512))
csv_string_io = io.StringIO(text)
df = pandas.read_csv(csv_string_io)
df

,identifier,container_number,hazmat_sequence_number,hazmat_code,hazmat_class,hazmat_code_qualifier,hazmat_contact,hazmat_page_number,hazmat_flash_point_temperature,hazmat_flash_point_temperature_negative_ind,hazmat_flash_point_temperature_unit,hazmat_description
0,20180101101,GESU8084893,1,1919,3,U,NaN,NaN,2,N,CE,NaN
1,20180101833,UTCU4597332,1,1218,3,U,MR.DU,NaN,53,N,CE,NaN
2,20180101833,UTCU4937670,1,1218,3,U,MR.DU,NaN,53,N,CE,NaN
3,20180101833,EXFU5544223,1,1218,3,U,MR.DU,NaN,53,N,CE,NaN
4,20180101833,EXFU5543700,1,1218,3,U,MR.DU,NaN,53,N,CE,NaN

Hazmat Class

In [4]:
f = open('datalake/layer=bronze/table=hazmatclass/year=2018/ams__hazmatclass_2018__202001290000.csv', 'r')
text = ''.join(f.readlines(1028))
csv_string_io = io.StringIO(text)
df = pandas.read_csv(csv_string_io)
df

,identifier,container_number,hazmat_sequence_number,hazmat_classification
0,201801011434,OOLU0361510,1,6.1
1,201801011434,OOLU1921748,1,6.1
2,201801011434,OOLU0361844,1,6.1
3,201801011434,OOLU1467825,1,6.1
4,201801011629,ZCSU2770485,1,6.1
5,201801011629,ZCSU2572577,1,6.1
6,201801011629,ZCSU2691323,1,6.1
7,201801019671,HOYU8310209,1,3 8
8,201801019675,HOYU8310235,1,3 8
9,2018010115907,OOLU4505111,4,8
10,2018010115992,YMLU4925039,1,2
11,2018010115992,YMLU5147913,1,2
12,2018010115992,TCKU4670927,1,2
13,2018010115992,YMMU4060129,1,2
14,2018010115992,TGHU5261494,1,2
15,2018010115992,TCKU4410426,1,2
16,2018010115992,YMLU4900806,1,2
17,2018010115992,SEGU5905937,1,2
18,2018010116006,BMOU9219774,1,3
19,2018010116006,BMOU9219774,2,2
20,2018010116006,BMOU9219774,3,3
21,2018010116006,BMOU9219774,4,2
22,2018010116006,BMOU9219774,5,3
23,2018010116529,BMOU9701852,1,3
24,2018010116529,BMOU9701852,2,2
25,2018010116529,BMOU9701852,3,2
26,2018010119724,TGHU0899296,1,3
27,2018010122003,HLBU1413641,2,3
28,2018010122181,YMLU8913946,1,2
29,2018010122186,YMLU8913946,1,3
30,2018010122188,YMLU8913946,1,2
31,2018010122190,YMLU8913946,1,3

Bill of Lading Header

In [14]:
f = open('datalake/layer=bronze/table=header/year=2018/ams__header_2018__202001290000-002.csv', 'r')
print(len(enumerate(f)))
# text = ''.join(f.readlines(1000000))
# csv_string_io = io.StringIO(text)
# df = pandas.read_csv(csv_string_io)
# df.dropna(subset=['actual_arrival_date'], inplace=True)
# print(df['port_of_unlading'].isnull().sum())
# df
# df.columns.values.tolist()

TypeError: object of type 'enumerate' has no len()

Marks & Numbers

In [37]:
f = open('datalake/layer=bronze/table=marksnumbers/year=2018/ams__marksnumbers_2018__202001290000-003.csv', 'r')
text = ''.join(f.readlines(256))
csv_string_io = io.StringIO(text)
df = pandas.read_csv(csv_string_io)
df

,identifier,container_number,marks_and_numbers_1,marks_and_numbers_2,marks_and_numbers_3,marks_and_numbers_4,marks_and_numbers_5,marks_and_numbers_6,marks_and_numbers_7,marks_and_numbers_8
0,201801010,FCIU9250931,EMHART P/NO.1 ITEM MADE IN TAIWAN R.O.C. PO,1116187 1117963 1125505,NaN,NaN,NaN,NaN,NaN,NaN

Notify Party

In [38]:
f = open('datalake/layer=bronze/table=notifyparty/year=2018/ams__notifyparty_2018__202001290000.csv', 'r')
text = ''.join(f.readlines(256))
csv_string_io = io.StringIO(text)
df = pandas.read_csv(csv_string_io)
df

,identifier,notify_party_name,notify_party_address_1,notify_party_address_2,notify_party_address_3,notify_party_address_4,city,state_province,zip_code,country_code,contact_name,comm_number_qualifier,comm_number
0,2018010127,PANTOS LOGISTICS CANADA INC.,105 QUEENS PLATE DR UNIT,2ETOBICOKE ONTARIO M9W 7K4,TEL. 647 352-9243 FAX. 647 352-92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Shipper

In [39]:
f = open('datalake/layer=bronze/table=shipper/year=2018/ams__shipper_2018__202001290000.csv', 'r')
text = ''.join(f.readlines(256))
csv_string_io = io.StringIO(text)
df = pandas.read_csv(csv_string_io)
df

,identifier,shipper_party_name,shipper_party_address_1,shipper_party_address_2,shipper_party_address_3,shipper_party_address_4,city,state_province,zip_code,country_code,contact_name,comm_number_qualifier,comm_number
0,201801010,JET FAST COMPANY LIMITED,"NO.5 JWU GONG 2ND LANE,","JWU HO VILLAGE,REN WU HSIANG",KAOHSIUNG,TAIWAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Tariff

In [8]:
f = open('datalake/layer=bronze/table=tariff/year=2018/ams__tariff_2018__202001290000.csv', 'r')
text = ''.join(f.readlines(50000000))
csv_string_io = io.StringIO(text)
df = pd.read_csv(csv_string_io)
df.isnull().sum()

# f = open('datalake/layer=bronze/table=cargodesc/year=2018/ams__cargodesc_2018__202001290000.csv', 'r')
# text = ''.join(f.readlines(50000))
# csv_string_io = io.StringIO(text)
# df2 = pandas.read_csv(csv_string_io)

# df3 = pandas.merge(df, df2, on=['identifier', 'container_number'], how='left')
# df3 = df3.dropna(subset='description_text')
# df3

C:\Users\William\AppData\Local\Temp\ipykernel_12912\1287851694.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_string_io)

identifier                          0
container_number                    0
description_sequence_number         0
harmonized_number               76859
harmonized_value                25113
harmonized_weight                   0
harmonized_weight_unit         526969
dtype: int64

In [ ]:
df1 = pd.DataFrame([['a', 1], ['b', 2]],

                   columns=['letter', 'number'])

df2 = pd.DataFrame([['c', 3], ['d', 4]],

                   columns=['letter', 'number'])

pd.concat([df1, df2])

In [196]:
pd.options.display.float_format = '{:.0f}'.format
# pd.reset_option('display.float_format')

import re

columns = ['port_of_unlading', 'month']
for i in range(1, 100):
    columns.append("hs_" + str(i))
hs_by_unlading = pd.DataFrame(columns=columns)

header = pd.read_csv('datalake/layer=silver/table=header/year=2018/header_part0.csv')
tariff = pd.read_csv('datalake/layer=silver/table=tariff/year=2018/tariff_part0.csv')
tariff2 = pd.read_csv('datalake/layer=silver/table=tariff/year=2018/tariff_part1.csv')

header['harmonized_number'] = header['harmonized_number'].apply(
                    lambda x: int(re.sub('\D', '', str(x)[0:2])))

header['actual_arrival_date'] = header['actual_arrival_date'].apply(
                    lambda x: re.sub('-', '', re.search('-\d*-', x).group()))
header.rename(columns={'actual_arrival_date': 'arrival_month'}, inplace=True)


unlading = header.groupby(['arrival_month', 'port_of_unlading'])['harmonized_number'].apply(list).reset_index()

# new_columns = pd.DataFrame(columns=unlading['harmonized_number'].to_list())

for i in range(1, 100):
    unlading.append("hs_" + str(i))

def maphs(x):
    for i, element in x:
        column_name = "hs_" + str(element)
        unlading[column_name] = unlading[column_name] + 1
        break
    return

unlading['harmonized_number'].to_list().map(maphs)

unlading.head(50)

C:\Users\William\AppData\Local\Temp\ipykernel_12912\404331019.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  unlading.append("hs_" + str(i))

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid